a:visited{
    color:red;
    font-weight:bold;
    text-decoration: none;
}

a:hover{
    background-color: black;
    font-size: 30px;
    color: pink;
}

a:active{
    background:green;
    font-size:50px;
    color:yellow;
}

.box-container{
    background-color: red;
    width:200px;
    height:200px;
    transition-duration: 2s;
    transition-delay:1s;
    transition-timing-function: cubic-bezier(0,.79,1,-0.27);
}

.box-container:hover{
    background:pink;
    transform: translateX(50px);
}